.shop-sidebar .shop-filter li a {
    color: #888e95;
}

a { 
    text-decoration: none;
}

.tag-cloud a{
    color: #888e95;
}

.fs-14 {
    color: #888e95;
}

.fs-15 {
    color: #888e95;
}