[data-anime] {
    opacity: 1 !important;
    visibility: visible !important;
    transform: none !important;
}

[data-anime] > * {
    opacity: 1 !important;
    visibility: visible !important;
}
